* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100wv;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px; 
}

.wrapper, .header, .top-metu, .content, .main-block, .footer-title {
    display: flex;
}

.wrapper, .content, .main-block {
    justify-content: space-between;
} 

.top-metu, footer, aside {
    color: white;
}

.wrapper {
    flex-direction: column;
    max-width: 1000px;
    align-content: space-between;
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #095C5C;
    flex 0 0 200px;
    flex-wrap: wrap;
}

#logo {
    flex: 0 0 200px;
    height: 130px;
    margin: 10px;
    background-color: #FFA500;
}

.top-metu {
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #010D3F;
    width: 100%;
}

.content {
    margin: 10px 0;
    flex: 1 1 60px;
}

.main-block {
    flex: 2 2 60px;
}

article {
    background-color: #00FFFF;
}

.first, .second {
    flex: 1 1 200px;
    margin: 0 10px;
}

aside {
    flex: 0 0 200px;
    background-color: #8A2BE2;
    margin: 0 10px;
} 

footer {
    flex: 0 0 150px;
    background-color: #023447;
    justify-content: center;
}
 