.container {
    background-color: #f8f8f8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width:800px;
    margin: 0 auto;
    outline: 0px solid rgb(156, 153, 153);
}

header {
    outline: 0px solid rgb(212, 16, 16);
    height: 280px;
}

#logo {
    margin: 10px;
}

li {
    list-style-type: none;
    display: inline; 
    text-align: right;
   }

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

footer {
    font-size: 12px;
}