body {
    width: 850px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #F2F5F9;
    padding-top: 10px;
    border-top: 1.5px solid #D7DDE6;
}

.enter {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #E5B445;
}

.enter:last-child {
    border-bottom: 1.5px solid #D7DDE6;
}

.first-column {
    font-size: 17px;
    width: 130px;
    min-height: 30px;
    display: flex;
    align-items: flex-start;
    color: #76A1C7;
    padding: 15px 0 10px 10px;      
}

.second-column {
    font-size: 14px;
    width: 670px;
    min-height: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; 
    color: #383874; 
    padding: 15px 0 10px 10px;
}

.hover:hover {
    background-color: #339900;
    color: white;
    outline: 2px solid #127506;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 50px;
}